<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>

    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% else %>
      <div id='no_email'><%= flash[:no_email] %></div>
    <% end %>

    <% if flash[:errors] && !flash[:errors].empty?  %>
      Please refer to the following errors below:
      <ul id='errors'>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
      <!-- <div id='notice'><%= flash[:notice] %></div> -->
      </ul>
    <% end %>
    <%= yield %>

  </body>
</html>
